/*---------------------------*\
 #COLORES
\*---------------------------*/

$verde: #2ccc6f;
$negro: #000000;
$blanco: #ffffff;
$gris: #6d6d6d;
$base: #f4f4f4;
$base-claro: #f6f6f6;
$error : #FF6347;

// colores para bordes
$gris-claro: #e5e5e5;
$gris-oscuro: #dcdcdc;
